<ion-header>
  <ion-navbar>
    <ion-title>
      Faculdade Z
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-input [(ngModel)]="registerCredentials.cpf" type="text" placeholder="CPF"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="registerCredentials.pass" type="password" placeholder="Senha"></ion-input>
        </ion-item>
        <button ion-button block (click)="login(registerCredentials)">
          <ion-icon name="ios-log-in"></ion-icon>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card> 
</ion-content>
