page-login {
    .background{
        background-color: #00897b;
    }
    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    ion-card.card{
        border-radius:5px;
        align-self: center;
        background: rgba(0,0,0,0.5);
        width: 55%;
        height: 40%;
    }
    .item{
        margin-bottom:4%;
        border: medium none; 
    }

}
