<ion-header>
   <ion-navbar>
      <div><ion-title style="float: right"><h1>{{user_info.name}}</h1></ion-title></div>
      <button ion-button menuToggle end>
          <ion-icon name="menu" side="right"></ion-icon>
      </button>      
    </ion-navbar>
</ion-header>

<ion-menu side="right" [content]="menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img src="lib/default_avatar.png">
        </ion-avatar>
        <h2>{{user_info.name}}</h2>
        <p>{{user_info.semester}}º semestre</p>
        <p>{{user_info.course}}</p>
      </ion-item>
      <button ion-item menuClose ion-item *ngFor="let page of pages" (click)="openPage(page)">{{page.title}}</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #menu [root]="HomePage"></ion-nav>


<ion-content padding id="lista" layout-align="center center">
  <h1>Cursos Em Progresso</h1>

  <ion-card navbar button *ngFor="let course of courses" (click)="showDetail(course)">
    <ion-card-header>
      <h1>{{course.name}}</h1>
    </ion-card-header>
    <ion-card-content>
      {{course.professor}}
    </ion-card-content>

  </ion-card>
</ion-content>

