page-home {
    .scroll-content{
        overflow-y: auto;
    }
    /*ion-button{
        float: right;
    }*/
    ion-card{
        align-self: center;
        text-align: center;
        
    }
    ion-card-header{
        font-weight: bold;
    }
    /*ion-title{
        text-align: right;
    }*/
    .card-md{
        background: map-get($colors , gray_silver);
    }
}
