<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Suporte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label> Envie-nos suas dúvidas</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea ion-input id="msg" type="text" placeholder="Digite Sua Mensagem" [(ngModel)]="message"></ion-textarea>
    </ion-item>
    <ion-label id="buttons">
      <button ion-button (click)="sendMessage(message)" color='secondary' style="float: right">
        <ion-icon name="ios-mail-outline"></ion-icon>
      </button>
      <button ion-button (click)="cancel()" color="danger" style="float: right">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-label>
  </ion-list>

</ion-content>
