<!--<ion-menu [content]='menu'>
    <ion-content>
        <ion-list>
            <ion-item id="avatar">
                <ion-avatar item-left>
                    <img src="lib/default_avatar.png">
                </ion-avatar>
                <!--<h2></h2>
                <p></p>-->
            <!--</ion-item>
        <button ion-item menuClose ion-item *ngFor="let page of pages" (click)="menu.openPage(page)">{{page.title}}</button>
        </ion-list>
    </ion-content>
</ion-menu>-->
<ion-nav #menu [root]="rootPage"></ion-nav>