<ion-header>
    <ion-navbar>
      <ion-label text-align="right">
        <button ion-button (click)="backHome()" color="space_gray">
          <ion-icon name="ios-arrow-dropleft-circle"></ion-icon>
        </button>
      </ion-label>
    </ion-navbar>
</ion-header>


<ion-content padding id="lista" layout-align="center center">
  <h1>Histórico Escolar</h1>

  <ion-list navbar button *ngFor="let record of records">
    <ion-title>{{record.semester}}º Período</ion-title>
    <ion-card *ngFor="let course of record.courses">
      <ion-card-title>
        <h1>{{course.name}}</h1>
      </ion-card-title>
      <ion-card-content>
        <h3>Professor: {{course.professor}}</h3>
        <h3>Nota: {{course.grade}}</h3>
        <h3>Status: {{course.status}}</h3>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
