<!--
  Generated template for the CoursesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-label>
        <button ion-button (click)="backHome()" color="space_gray">
          <ion-icon name="ios-arrow-dropleft-circle"></ion-icon>
        </button>
        {{course.name}} - Curso    
      </ion-label>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label> Nome da Disciplina</ion-label>
      <ion-label> <h2>{{course.name}}</h2></ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Nome do Professor</ion-label>
      <ion-label><h2>{{course.professor}}</h2></ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Horários de Aula </ion-label>
      <ion-label><h2>{{course.start_time}} - {{course.end_time}}</h2></ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Dificuldade</ion-label>
      <ion-label><h2>{{course.difficult}}</h2></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
